<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 1、和Spring的contextproperty-placeholder：引用外部配置文件
            resource:从类路径下引入
            url：磁盘或网络路径
            -->
    <properties resource="dbconfig.properties"></properties>
    <settings>
<!--       name：配置相的key；Va1ue：配置项的值
数据库字段名本身不区分大小写，Mybatis将数据库字段和bean属性名不区分大小写比较，匹配。但是对于存在下划线就无法匹配
            loginAccount====Login_Account。用驼峰解决
            mapUnderscoreToCamelCase:驼峰命名
            -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--为常用的类型起别名-->
<!--    推荐写全类名-->
    <typeAliases>
<!--        一个alias就是一个bean的别名：默认是类名（不区分大小写），
            alias="emp",可以指定别名
            此后配置文件在可以使用别名-->
<!--        <typeAlias type="com.guigu.bean.Employee" alias="emp"/>-->


<!--    批量起别名:为指定包内的所有类起别名，默认是类名,不区分大小写
           如果此时还想对某个类起别名，在类文件头部加入注解@Alias("xxx")
-->
    <package name="com.guigu.bean"/>
    </typeAliases>

<!--    类型处理器：一般情况不需要改。自定义才在这里改-->


    <environments default="mysql">
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${jdbcurl}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource="EmployeeDao.xml"></mapper>
    </mappers>
</configuration>