<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
<!-- 1、和Spring的contextproperty-placeholder：引用外部配置文件
            resource:从类路径下引入
            url：磁盘或网络路径
            -->
    <properties resource="dbconfig.properties"></properties>
    <settings>
<!--       name：配置相的key；Va1ue：配置项的值
数据库字段名本身不区分大小写，Mybatis将数据库字段和bean属性名不区分大小写比较，匹配。但是对于存在下划线就无法匹配
            loginAccount====Login_Account。用驼峰解决
            mapUnderscoreToCamelCase:驼峰命名
            -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
<!--为常用的类型起别名-->
<!--    推荐写全类名-->
    <typeAliases>
<!--        一个alias就是一个bean的别名：默认是类名（不区分大小写），
            alias="emp",可以指定别名
            此后配置文件在可以使用别名-->
<!--        <typeAlias type="com.guigu.bean.Employee" alias="emp"/>-->


<!--    批量起别名:为指定包内的所有类起别名，默认是类名,不区分大小写
           如果此时还想对某个类起别名，在类文件头部加入注解@Alias("xxx")
-->
    <package name="com.guigu.bean"/>
    </typeAliases>

<!--    类型处理器：一般情况不需要改。自定义才在这里改-->

<!--    插件：强大功能！-->

<!--environments配置环境们
        default：默认使用某个环境（id）
        -->
    <environments default="mysql">
<!--        每一个environment配置具体环境，为二标签
             transactionManager：事务管理器.
             dataSource：数据源
             以上两个以后都是spring来做
             id:当前环境的唯一标识
             -->
        <environment id="mysql">
            <transactionManager type="JDBC"></transactionManager>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${jdbcurl}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

<!--    databaseIdProvider:用来考虑数据库移植性。比如mysql切换到oracle-->
    <databaseIdProvider type="DB_VENDOR">
<!--name=""：数据库厂商标识 value：给这个标识起一个好用的名字-->
        <property name="" value=""/>
    </databaseIdProvider>

<!--    mappers标签：写好的sql映射文件需要使用mappers注册
        class:引用接口的全类名.
                使用这种方式,必须将xml文件和接口文件在同目录下,并且命名一模一样
        另一种用法:不使用配置文件,写注解.此时只能使用class映射
        默认resources:类路径下
        url:磁盘或网络路径
        -->
    <mappers>
<!--        <mapper resource="EmployeeDao.xml"></mapper>-->
        <mapper class="com.guigu.dao.EmployeeDao"></mapper>
<!--        批量注册:name:dao所在接口的包名.
            此时,要么接口上有注解,要么配置文件和接口同目录和名字
            或者resources已经指定未注解的接口
            -->
        <package name="com.guigu.dao"/>
    </mappers>
</configuration>